<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/products.html">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shoppingCart.html">Carrito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chat.html">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/process-info.html">Información del Proceso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productos-test.html">Productos con Faker</a>
      </li>
      <li class="nav-item  active">
        <a class="nav-link" href="/home">Perfil</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Salir</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
    <div class="table-responsive">
        <table class="table table-sm">
        <tbody>
            <tr>
            <td><img src="/images/{{user.avatar}}" alt="{{user.name}}" class="avatarImage"></td>
            <td><h1 style="color:green;">{{user.name}}</h1></td>
            </tr>
            <tr>
            <td>Usuario</td>
            <td>{{user.username}}</td>
            </tr>
            <tr>
            <td>Dirección</td>
            <td>{{user.address}}</td>
            </tr>
            <tr>
            <td>Teléfono</td>
            <td>{{user.phone}}</td>
            </tr>
        </tbody>
        </table>
        <div class="text-left">
            <button class="btn btn-success my-3" onclick="location.href = '/logout'">Desloguear</button>
        </div>
    </div> 
</div>

{{#ifIsAdmin user.role}}
<div class="jumbotron">
    <a href="/productos-test.html">Listado faker</a>
    <h1 style="color:blue;">Ingrese Producto</h1>
    <br>
        <form onsubmit="return addProduct(this)">
            <div class="form-group">
                <label for="title"><b>Nombre</b></label>
                <input id="title" class="form-control" type="text" name="title">
            </div>
            <div class="form-group">
                <label for="price"><b>Precio</b></label>
                <input id="price" class="form-control" type="text" name="price">
            </div>
            <div class="form-group">
                <label for="thumbnail"><b>Foto URL</b></label>
                <input id="thumbnail" class="form-control" type="text" name="thumbnail">
            </div>
            <input type="submit" class="btn btn-success mt-3 mb-5" value="Enviar">
        </form>
        <h2 style="color:red;">Lista de Productos</h2>
        <div id="products"></div>
</div>
{{/ifIsAdmin}}
<div class="jumbotron">
    <div id="messagesCenter">
        <h1 style="color:blue;">Centro de Mensajes</h1>
        <div id="messages"></div>
        <form onsubmit="return addMessage(this)">
            <input type="email" id="id" placeholder="Tu email" required="required"><br>
            <input type="text" id="firstName" placeholder="Tu nombre"><br>
            <input type="text" id="lastName" placeholder="Tu apellido"><br>
            <input type="text" id="age" placeholder="Tu edad"><br>
            <input type="text" id="nickName" placeholder="Tu alias"><br>
            <input type="text" id="avatar" placeholder="Tu avatar"><br>
            <input type="text" id="text" placeholder="Cuéntanos algo..."><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>
