<div>
    {{#each messages}}
        <strong style="color:blue">{{this.value.author.id}}</strong> 
        <font style="color:brown">[{{timestampToLocaleString this.value.ts}}]</font>  
        <em style="color:green">{{this.value.text}}</em>
        <img src="{{this.value.author.avatar}}" alt="{{this.value.author.firstName}}">
        <br>
    {{/each}} 
</div>