<h2 style="color:blue;">Datos del Proceso</h2>
<div>
    <strong style="color:blue">Argumentos de entrada: </strong> 
    <font style="color:red ">{{process.argv}}</font>  
    <br>
    <strong style="color:blue">Carpeta del proyecto: </strong> 
    <font style="color:red ">{{process.cwd}}</font>  
    <br>
    <strong style="color:blue">Memoria total reservada (rss): </strong> 
    <font style="color:red ">{{process.memoryUsage.rss}}</font>  
    <br>
    <strong style="color:blue">Nombre de la plataforma (sistema operativo): </strong> 
    <font style="color:red ">{{process.platform}}</font>  
    <br>
    <strong style="color:blue">Path de ejecución: </strong> 
    <font style="color:red ">{{process.execPath}}</font>  
    <br>
    <strong style="color:blue">Process id: </strong> 
    <font style="color:red ">{{process.pid}}</font>  
    <br>
    <strong style="color:blue">Versión de node.js: </strong> 
    <font style="color:red ">{{process.version}}</font>  
    <br>
    <strong style="color:blue">Número de procesadores: </strong> 
    <font style="color:red ">{{numCores}}</font>  
    <br>
</div>

    <br>

<h2 style="color:blue;">Datos del Servidor</h2>
<div>
    <strong style="color:blue">Número de procesadores: </strong> 
    <font style="color:red ">{{numCores}}</font>  
    <br>
</div>
