<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <a href="http://localhost:8080">Ingresar Producto</a>
            <br>
            
            <h1 style="color:blue;">Vista de Productos</h1>

            <% if(thereAreProducts){ %>
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr style="color: yellow;">
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Foto</th>
                    </tr>
                    
                    <% for (const product of products) {%>
                    <tr>
                        <td>
                            <%=product.value.title%>
                        </td>
                        <td>
                            <%=product.value.price%>
                        </td>
                        <td>
                            <img src="<%=product.value.thumbnail%>" alt="<%=product.value.title%>">
                        </td>
                    </tr>
                    <%};%>
                </table>
            </div>
            <% } else{ %>
            <h3 class="alert alert-danger">No se encontraron productos.</h3>
            <% } %>
            
        </div>
    </div>
</body>

</html>
